@charset "UTF-8";
/**
* MME exercise 1
* author: Michael Duve
* matnr: 798419
*/

html,
body {
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.content-wrapper {
    position: relative;
    width: 80%;
    min-width: 320px;
    margin: 0 auto;
}
.main-heading {
    margin: 20px 0 0 0;
    font-family: "Arial", sans-serif;
}
.main-heading .kicker {
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    display: block;
    color: #db0000;
}
.main-heading .headline {
    font-size: 30px;
    font-weight: 400;
    display: block;
}
.video {
    margin: 20px 0;
    width: 100%;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 2px 1px #858585;
    -moz-box-shadow: 0 0 2px 1px #858585;
    -ms-box-shadow: 0 0 2px 1px #858585;
    box-shadow: 0 0 2px 1px #858585;
}
.controls {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;
}
.controls li {
    margin: 0;
    padding: 0;
    float: left;
}
.controls button,
.controls button:visited {
    height: 30px;
    padding: 5px 30px;
    outline: 0;
    border: 0;
    border-bottom: 2px solid #222;
    background: #ccc;
    color: #353535;
    cursor: pointer;
    -webkit-transition: border .05s ease-in-out;
    -moz-transition: border .05s ease-in-out;
    -ms-transition: border .05s ease-in-out;
    transition: border .05s ease-in-out;
}
.controls button:hover,
.controls button:focus {
    border-bottom: 6px solid #db0000;
}