@charset "UTF-8";
/**
* MME exercise 6
* author: Michael Duve
* matnr: 798419
*/

html,
body {
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
body {
    margin-top: 70px;
}
.table>tbody>tr>td {
    vertical-align: middle;
}
.table>tbody>tr>td .delete,
.table>tbody>tr>td .edit {
    margin: 0 5px;
    cursor: pointer;
}
.table>tbody>tr>td .delete:hover {
    color: #db0000;
}
.table>tbody>tr>td .edit:hover {
    color: #dbdb00;
}
.table .authors {
    white-space: nowrap;
}
.table .authors:after {
    content: ", ";
}
.table .authors:last-child:after {
    content: "";
}
.delete-author {
    cursor: pointer;
    color: #a94442;
    background-color: #f2dede;
    border-color: #a94442;
}
.input-group {
    margin: 10px 0;
}
.input-group:first-child {
    margin-top: 0;
}
.input-group:last-child {
    margin-bottom: 0;
}