@charset "UTF-8";
/**
* MME exercise 6
* author: Michael Duve
* matnr: 798419
*/

html,
body {
    margin: 0;
    padding: 0;
}
body * {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}